*{
    margin: 0;
    padding: 0;
}

body{
    /* background: #313D52;*/
   background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/fondo1.jpg);
   height: 100vh;
   background-size: cover;
}

.navegacion{
    text-align: center;
    width: 800px;
    margin: 30px auto;
    background: rgb(165, 245, 234);
}

.navegacion ul{
    list-style: none;
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu li a{
    display:block;

    padding: 20px 100px;
    color: #353535;
    font-family: 'Open sans';
    text-decoration: none;
}

.menu li a:hover{
    color: #CE7D35;
    transition: all .3s;
}

.submenu {
    position: absolute;
    background: #333333;
    width: 120%;
    visibility:hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a{
    display:block;
    padding: 15px;
    color: #ffff;
    font-family: 'Open sans';
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

.buscar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscar_texto{
    height: 30px;
    color: rgb(15, 15, 15);
    font-size: 20px;
    
}

@media screen and (min-with:480px){
    .buscar:hover > .buscar_texto{
        width: 190px;
    }
}
@media screen and (min-with:768px){
    .buscar:hover > .buscar_texto{
        width: 300px;
    }
}
@media screen and (min-with:1024px){
    .buscar:hover > .buscar_texto{
        width: 500px;
    }
}
